<div
  class="bg-purple-100 bg-cover h-full rounded-md shadow-purple-200 shadow-md"
>
  <div class="p-10 flex flex-col gap-5">
    <span class="text-3xl font-bold">Welcome, Phineas</span>
    <span class="text-xl font-bold"
      >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis,
      libero?</span
    >
    <span class="text-lg"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias numquam
      temporibus atque dolorum dolores quae optio adipisci, quidem, aliquam quos
      corrupti quod repudiandae impedit expedita deserunt exercitationem quas
      accusantium! Debitis!</span
    >
  </div>
</div>
